body{
  padding: 30px;
}
.outside-box{
  padding: 30px;
  background-color: rgb(200, 129, 247);
}
.inside-box {
  height: 180px;
  background-color: rgb(255, 182, 239);
  margin: 20px;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}